/* 焦点图 */
.game-banner .banner-item{height:370px;}
.game-banner .banner-item.item1 {
  background: url("../images/game1.png") no-repeat center center;
}                                             
.game-banner .banner-item.item2 {              
  background: url("../images/game2.png") no-repeat center center;
}                                             
.game-banner .banner-item.item3 {              
  background: url("../images/game3.png") no-repeat center center;
}                                             
.game-banner .banner-item.item4 {              
  background: url("../images/game4.png") no-repeat center center;
}                                             
.game-banner .banner-item.item5 {              
  background: url("../images/game5.png") no-repeat center center;
}                                             
.game-banner .banner-item.item6 {              
  background: url("../images/game6.png") no-repeat center center;
}                                             
.game-banner .banner-item.item7 {              
  background: url("../images/game7.png") no-repeat center center;
}                                             
.game-banner .banner-item.item8 {              
  background: url("../images/game8.png") no-repeat center center;
}
/*大橫幅高度*/
.game-banner .banner-app{height:620px;}
.game-banner .banner-app.item1 {
  background: url("../images/app-top-bg.png") no-repeat center center;
}

.game-banner .kb1 {
  background: url("../images/banner_thumb.png") center -80px no-repeat;
}
.game-banner .kb2 {
  background: url("../images/banner_thumb.png") center -120px no-repeat;
}
.game-banner .kb3 {
  background: url("../images/banner_thumb.png") center -160px no-repeat;
}
.game-banner .kb4 {
  background: url("../images/banner_thumb.png") center -200px no-repeat;
}
.game-banner .kb5 {
  background: url("../images/banner_thumb.png") center -240px no-repeat;
}
.game-banner .kb6 {
  background: url("../images/banner_thumb.png") center -280px no-repeat;
}
.game-banner .kb7 {
  background: url("../images/banner_thumb.png") center 0 no-repeat;
}
.game-banner .kb8 {
  background: url("../images/banner_thumb.png") center -40px no-repeat;
}


.game-container {
  color: #fff;
}
.banner-container.game-banner {
  height: 336px;
  padding: 16px 0 30px;
  background: none;
}
/* .game-banner .mq {
  margin-top: 8px;
} */
.game-nav-first,
.game-nav-last {
  width: 14px;
  height: 30px;
}

.game_project{display: inline-block;margin: 10px 15px 0px 15px;border:solid 1px rgba(255, 255, 255, 0.24);}
.game_project li {float: left;background: rgba(0, 0, 0, 0.55);}
.game_project li.active{ background: rgba(0,0,0,0.7);}
.game_project li.active a{ color: #bfff32;}
.game_project li a{float: left; padding: 10px 15px;font-size: 16px;line-height: 16px; text-shadow:0px 2px 2px rgba(0, 0, 0, 0.58);}
.game_project li a:hover{ color: #bfff32;}

.game-nav {
  margin: 1px 14px 0;
}
.game-nav li {
  float: left;
  height:25px;
}
.game-nav li a {
  display: block;
  padding: 0px 10px;
  line-height:25px;
  font-size:12px;
}
.game-nav li a:hover {
  color: #cbff31;
}
.game-nav li.active a {
  background: #8774ba;
  box-shadow: 0 1px 2px #464646;
  border-radius: 3px;
}
.searchbar {
  background: url("../images/game-search_bg.png") 0 0 no-repeat;
  padding: 7px 14px;
  height: 27px;
  width: 930px;
  line-height: 27px;
  font-size: 14px;
  margin:0 auto 10px auto;
}
.searchbar .title{
	margin-left:15px;
}
.search-form {
  width: 100%;
  padding: 0 0;
}
.search-form  .label{
	height:27px;
	float:left;
}
.search-form .searchItem {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 25px;
  float:left;
}
.search-form input,
.search-form select {
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  border: none;
  line-height: 22px;
  height: 22px;
  padding: 0 4px;
  color: #000;
  border-radius: 4px;
  float:left;
  margin:2px 5px 0 5px;
}
.search-form input{
	background:url(../images/search_form_bg.png) no-repeat;
	line-height:18px;
	height:18px;
	padding:2px 4px;
	}
.searchbtn {
  width: 56px;
  height: 27px;
  display: inline-block;
  float:left;
  font-size: 0;
  border: none;
  outline: none;
  background: url("../images/game-searchbtn.png") 0 0 no-repeat;
}
.gameplay-list {
  width: 960px;
  margin: 0 auto;
}
.gameplay-list li {
  float: left;
  width: 188px;
  margin:2px;
}
.gameplay-list .game_item{
  height:180px;
  position:relative;
  overflow:hidden;
  float: left;
  width: 188px;
  margin:2px;
  display: list-item;
  opacity: 1;
}
.gameplay-list .game_title{position:absolute;left:0;bottom:5px;width:100%;height:30px;line-height:30px;font-size:15px;}
.game_title_text{text-align:center;}
.gameplay-list .game_title .game_star{display:none;}
.gameplay-list a{width:100%;height:100%;text-align:center;display:block;}
/*.gameplay-list a:hover{background:rgba(255,255,255,0.3)}*/
.gameplay-list img{width:145px;height:auto;margin:0 auto;} 

/* .gameplay-list li a {
  display: block;
  text-align: center;
}
.gameplay-list li a:hover .icon-gameplay {
  background-position: -145px 0;
}
.gameplay-box {
  padding:2px;
   background: url("../images/game_bg.png") 0 0 no-repeat; 
  position: relative;
}
.gameplay-list a:hover .gameplay-box {
   background: url("../images/game_bg_over.png") 0 0 no-repeat; 
}
.gameplay-box .hot_ico {
  width: 80px;
  height: 75px;
  background: url(../images/hot_ico.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}
.gameplay-img {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  padding: 1px;
}
.gameplay-title {
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-size: 15px;
}
.icon-gameplay {
  width: 145px;
  height: 136px;
  margin-top: 8px;
}
.icon-gameplay-e01 {
  background: url("../images/game/icon/BTN_5ReelDrive1.png") 0 0 no-repeat;
} */
.game-paging {
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}
.game-paging .paging-skip {
  color: #639dc3;
  font-size: 20px;
}
.game-paging .btn-gamepage {
  margin: 0 6px;
}
.btn-gamepage {
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-image: url(../images/page-bg.png);
  background-repeat: no-repeat;
  background-position:0 -63px;
  color: #fff;
}
.btn-gamepage:hover,
.btn-gamepage.active {
  background-position:-30px -63px;
  color:#8F8888;
}
.first-btn-gamepage,
.last-btn-gamepage {
  width: 60px;
  background-repeat: no-repeat;
   background-position: left top;
}
.last-btn-gamepage {
  background-position: right top;
}
.first-btn-gamepage:hover,
.first-btn-gamepage.active{
	background-position:0 -30px;
}
.last-btn-gamepage:hover,
.last-btn-gamepage.active{
	background-position:-60px -30px
}

.holder{
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

.holder a{
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-image: url(../images/page-bg.png);
  background-repeat: no-repeat;
  background-position:0 -63px;
  color: #fff;
  display:inline-block;
  margin: 0 6px;
}
.holder a:hover,
.holder a.jp-current {
  background-position:-30px -63px;
  color:#8F8888;
}
.holder .jp-disabled,
.holder .jp-next{
  width: 60px;
  color:rgba(0,0,0,0);
  background-repeat: no-repeat;
   background-position: left top;
}
.holder .jp-next{
  background-position: right top;
}
.holder .jp-disabled:hover,
.holder .jp-disabled.active{
	background-position:0 -30px;
}
.holder .jp-next:hover,
.holder .jp-next.active{
	background-position:-60px -30px
}
.fishing{
  background: url(../images/game/table_game/fishing.png) center no-repeat;
  width: 100%;
  height: 295px;
  position: relative;
}
.fishing p{
  position: absolute;
  font-size: 20px;
  top: 30px;
  left: 614px;
}
.fishing .code{
  position: absolute;
  /*border: solid 10px #fff;*/
  top: 64px;
  left: 631px;
  width: 150px;
  height: 150px;
  background: url(../images/game/table_game/fishing_qrcode.jpg) center no-repeat;
  background-size: contain;
}
.fishing a{
  position: absolute;
  font-size: 24px;
  bottom: 35px;
  right: 380px;
}
.fishing span{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  right: 20px;
}
.pt_download{
  background: url(../images/game/playtech/pc_download.png) center no-repeat;
  width: 90%;
  height: 270px;
  position: relative;
  margin-top: -10px;
}
.pt_download .span{
  position: absolute;
  top: 58px;
  right: 219px;
  font-size: 36px;
  line-height: 45px;

}
.pt_download a{
  background: url(http://fish.trencent.net/statics/160224/images/App-Store_move.png) no-repeat;
  width: 219px;
  height: 46px;
  display: block;
  position: absolute;
  top: 165px;
  right: 251px;
}
/*主要顯示資訊*/
.phone-main{ width: 1273px; height: 2016px; background-color: rgba(255,255,255, 0.06); margin: 0 auto; position: relative;}

/*小標題*/
.phone-main .title{ width: 1273px; height: 74px; margin: 0 auto; background-color: rgba(0, 0,0, 0.5); font: bold 15px/74px Verdana, "微軟正黑體"; float: left; color: #cbff31; height: auto; overflow: hidden; float: left;}

/*顯示區塊*/
.phone-main .block1{ width: 1146px; height: 1896px; margin: 0 auto; position: absolute; top: 74px; left: 70px;}

/*左半部*/
/*區塊1*/
.phone-main .block1 .left1{ width: 550px; height: 1878px; margin: 0 auto; float: left; margin-right: 45px; padding-top: 30px;}

/*項目1*/
.phone-main .block1 .left1 .pro1{ width: 550px; height: 311px; background-color: rgba(0,0,0,0.3); margin: 0 auto; float: left; border-radius:5px; position: relative;}

/*列表*/
.phone-main .block1 .left1 .pro1 .list1{ width: 550px; height: 68px; position: absolute; top: 0px; left: 0px; background-color: rgba(0,0,0,0.3); border-radius:5px; box-shadow:1px -2px 0 rgba(255%,255%,255%,0.1);}
/*小logo*/
.phone-main .block1 .left1 .pro1 .list1 .logo1{ width: 130px; height: 68px; float: left;}
/*右*/
.phone-main .block1 .left1 .pro1 .list1 .right1{ width: 300px; height: 68px; float: right;}
/*導圓按鈕*/
.phone-main .block1 .left1 .pro1 .list1 .right1 .button1{ width: 120px; height: 40px; border-radius:40px; background-color: #f3b508; float: right; font: 12px/40px Verdana, "微軟正黑體"; color: #333; text-align: center; margin: 15px 15px 0 0;}
.phone-main .block1 .left1 .pro1 .list1 .right1 .button1:hover{ background:#4D4D4D; font: 12px/40px Verdana, "微軟正黑體"; color: #676767;}
/*選項文字*/
.phone-main .block1 .left1 .pro1 .list1 .right1 .tx1{ width: 150px; height: 68px; float: right; font: 15px/68px Verdana, "微軟正黑體"; color: #fefefe; text-align: right;}

/*選項區*/
.phone-main .block1 .left1 .pro1 .list2{ width: 550px; height: 200px; position: absolute; top: 68px; left: 0px;}
/*左區*/
.phone-main .block1 .left1 .pro1 .list2 .l1{ width: 274px; height: 170px; float: left; padding-top: 30px;}
/*項目區*/
.phone-main .block1 .left1 .pro1 .list2 .l1 .box1{ width: 217px; height: 151px; margin: 0 auto;}
/*ICON1*/
.phone-main .block1 .left1 .pro1 .list2 .l1 .box1 .icon1{ width: 55px; height: 68px; margin: 0 auto; margin: 43px 23px 0 0; float: left;}
/*框1*/
.phone-main .block1 .left1 .pro1 .list2 .l1 .box1 .frame1{ width: 136px; height: 149px; margin: 0 auto; float: right; background-color: rgba(255,255,255,0.1); font: 16px/151px Verdana, "微軟正黑體"; color: #fff; text-align: center; border: solid 1px #fff; border-color: rgba(255,255,255,0.2);}

.phone-main .block1 .left1 .pro1 .list2 .l1 .box1 .frame1 .img_over{ 
  width:136px;
    height: 149px;
    background-position: 0 0;
    margin: 0px auto;
  background-image: url(../../images/game/mobile/down.png); center top no-repeat;}

.phone-main .block1 .left1 .pro1 .list2 .l1 .box1 .frame1 .img_over:hover{ 
  width:136px;
    height: 149px;
    background-position: 0 0;
    margin: 0px auto;
  background-image: url(../../images/game/mobile/down_over.png); center top no-repeat;}


/*右區*/
.phone-main .block1 .left1 .pro1 .list2 .r1{ width: 274px; height: 170px; float: right; border: solid 1px #3e4146; border-top:0; border-right:0 ;border-bottom: 0; padding-top: 30px;}
/*項目區*/
.phone-main .block1 .left1 .pro1 .list2 .r1 .box2{ width: 217px; height: 151px; margin: 0 auto;}
/*ICON2*/
.phone-main .block1 .left1 .pro1 .list2 .r1 .box2 .icon2{ width: 55px; height: 68px; margin: 0 auto; margin: 43px 0 0 23px; float: right;}
/*框2*/
.phone-main .block1 .left1 .pro1 .list2 .r1 .box2 .frame2{ width: 136px; height: 149px; margin: 0 auto; background-color: rgba(255,255,255,0.1); font: 16px/151px Verdana, "微軟正黑體"; color: #fff; text-align: center; float: left; border: solid 1px #fff; border-color: rgba(255,255,255,0.2);}

/*框3_小字*/
.phone-main .block1 .left1 .pro1 .list2 .r1 .box2 .frame3{ width: 136px; height: 149px; margin: 0 auto; background-color: rgba(255,255,255,0.1); float: left;}
.phone-main .block1 .left1 .pro1 .list2 .r1 .box2 .frame3 .ttx2{ width: 115px; height: 60px; margin: 0 auto; font: 8pt/12pt Verdana, "微軟正黑體"; color: #fff; text-align: center; margin-top: 47px;}

/*彈出綠色按鈕_*/
.phone-main .block1 .left1 .pro1 .file{ width: 372px; height: 40px; background-color: #CBFF31; margin: 0 auto; position: absolute; top: 233px; left:86px; border-radius: 40px; font: 10px/40px Verdana, "微軟正黑體"; color: #000; text-align: center;}

/*顯示範圍*/
.phone-main .block1 .left1 .pro1 .list3{display: none; width: 550px; height: 43px; position: absolute; top: 268px; left: 0px; background-color: #000;}
/*文字區*/
.phone-main .block1 .left1 .pro1 .list3 .ttx1{ width: 490px; height: 25px; margin: 9px 27px 0 30px;}
/*文字_帳號*/
.phone-main .block1 .left1 .pro1 .list3 .text1{ width: 217px; height: 25px; font: 15px/25px Verdana, "微軟正黑體"; color: #fefefe; text-align: left; float: left; margin-right: 56px;}
/*文字_密碼*/
.phone-main .block1 .left1 .pro1 .list3 .text2{ width: 217px; height: 25px; font: 15px/25px Verdana, "微軟正黑體"; color: #fefefe; text-align: left; float: right;}


/*右半部*/
/*區塊1*/
.phone-main .block1 .right2{ width: 550px; height: 1878px; margin: 0 auto; float: right; padding-top: 30px;}

/*項目1*/
.phone-main .block1 .right2 .pro1{ width: 550px; height: 311px; background-color: rgba(0,0,0,0.3); margin: 0 auto; float: left; border-radius:5px; position: relative;}

/*列表*/
.phone-main .block1 .right2 .pro1 .list1{ width: 550px; height: 68px; position: absolute; top: 0px; left: 0px; background-color: rgba(0,0,0,0.3); border-radius:5px; box-shadow:1px -2px 0 rgba(255%,255%,255%,0.1);}
/*短logo*/
.phone-main .block1 .right2 .pro1 .list1 .logo1{ width: 130px; height: 68px; float: left;}
/*長logo*/
.phone-main .block1 .right2 .pro1 .list1 .logo3{ width: 170px; height: 68px; float: left;}

/*右*/
.phone-main .block1 .right2 .pro1 .list1 .right1{ width: 300px; height: 68px; float: right;}
/*導圓按鈕*/
.phone-main .block1 .right2 .pro1 .list1 .right1 .button1{ width: 120px; height: 40px; border-radius:40px; background-color: #f3b508; float: right; font: 12px/40px Verdana, "微軟正黑體"; color: #333; text-align: center; margin: 15px 15px 0 0;}
.phone-main .block1 .right2 .pro1 .list1 .right1 .button1:hover{ background:#4D4D4D; font: 12px/40px Verdana, "微軟正黑體"; color: #676767;}
/*選項文字*/
.phone-main .block1 .right2 .pro1 .list1 .right1 .tx1{ width: 150px; height: 68px; float: right; font: 15px/68px Verdana, "微軟正黑體"; color: #fefefe; text-align: right;}

/*選項區*/
.phone-main .block1 .right2 .pro1 .list2{ width: 550px; height: 200px; position: absolute; top: 68px; left: 0px;}
/*左區*/
.phone-main .block1 .right2 .pro1 .list2 .l1{ width: 274px; height: 170px; float: left; padding-top: 30px;}
/*項目區*/
.phone-main .block1 .right2 .pro1 .list2 .l1 .box1{ width: 217px; height: 151px; margin: 0 auto;}
/*ICON1*/
.phone-main .block1 .right2 .pro1 .list2 .l1 .box1 .icon1{ width: 55px; height: 68px; margin: 0 auto; margin: 43px 23px 0 0; float: left;}
/*框1*/
.phone-main .block1 .right2 .pro1 .list2 .l1 .box1 .frame1{ width: 136px; height: 149px; margin: 0 auto; float: right; background-color: rgba(255,255,255,0.1); font: 16px/151px Verdana, "微軟正黑體"; color: #fff; text-align: center; border: solid 1px #fff; border-color: rgba(255,255,255,0.2);}

/*右區*/
.phone-main .block1 .right2 .pro1 .list2 .r1{ width: 274px; height: 170px; float: right; border: solid 1px #3e4146; border-top:0; border-right:0 ;border-bottom: 0; padding-top: 30px;}
/*項目區*/
.phone-main .block1 .right2 .pro1 .list2 .r1 .box2{ width: 217px; height: 151px; margin: 0 auto;}
/*ICON2*/
.phone-main .block1 .right2 .pro1 .list2 .r1 .box2 .icon2{ width: 55px; height: 68px; margin: 0 auto; margin: 43px 0 0 23px; float: right;}
/*框2*/
.phone-main .block1 .right2 .pro1 .list2 .r1 .box2 .frame2{ width: 136px; height: 149px; margin: 0 auto; background-color: rgba(255,255,255,0.1); font: 16px/151px Verdana, "微軟正黑體"; color: #fff; text-align: center; float: left; border: solid 1px #fff; border-color: rgba(255,255,255,0.2);}

/*顯示範圍*/
.phone-main .block1 .right2 .pro1 .list3{display: none; width: 550px; height: 43px; position: absolute; top: 268px; left: 0px; background-color: #000;}
/*文字區*/
.phone-main .block1 .right2 .pro1 .list3 .ttx1{ width: 490px; height: 25px; margin: 9px 27px 0 30px;}
/*文字_帳號*/
.phone-main .block1 .right2 .pro1 .list3 .text1{ width: 217px; height: 25px; font: 15px/25px Verdana, "微軟正黑體"; color: #fefefe; text-align: left; float: left; margin-right: 56px;}
/*文字_密碼*/
.phone-main .block1 .right2 .pro1 .list3 .text2{ width: 217px; height: 25px; font: 15px/25px Verdana, "微軟正黑體"; color: #fefefe; text-align: left; float: right;}
